 <!-- <div ng-if="main.dt1[$index].sitem == 'Comedy'">
<h1>{{$index}}{{main.dt1[$index].sitem}}</h1>
<div class="col-md-3"><youtube-video video-id="main.dt1[$index].name"></youtube-video></div>
<div class="col-md-3"><youtube-video video-id="main.dt1[$index+1].name"></youtube-video></div>
<div class="col-md-3"><youtube-video video-id="main.dt1[$index+2].name"></youtube-video> </div>
<div class="col-md-3"><youtube-video video-id="main.dt1[$index+3].name"></youtube-video> </div>
alt="Smiley face" class="img-responsive"
-->

<div class="container-fluid">

<div ng-repeat="detail in main.dt1 | filter:search_query" ng-if="$index % 4==0" class="row ghhh"">
   <div class="col-6 col-sm-3">  <div class="videos">

    <a href="/test/{{main.dt1[$index].vlink}}" ng-click="main.reloadRoute(main.dt1[$index])" class="video">
           <span></span>
            <img src="/images/{{main.dt1[$index].imgpath}}" alt="Smiley face">
          </a>

          <div class="caption">
                                 <h4>{{main.dt1[$index].piccaption}}</h4>
                             </div>
    </div></div>
   <div class="col-6 col-sm-3"><div class="videos">
         <a ng-click="main.reloadRoute(main.dt1[$index+1])" href="/test/{{main.dt1[$index+1].vlink}}" class="video">
             <span></span>
            <img src="/images/{{main.dt1[$index+1].imgpath}}" alt="Smiley face">
         </a>
         <div class="caption">
                                <h4>{{main.dt1[$index+1].piccaption}}</h4>
                            </div>
     </div></div>
  <div class="col-6 col-sm-3"><div class="videos">
        <a ng-click="main.reloadRoute(main.dt1[$index+2])" href="/test/{{main.dt1[$index+2].vlink}}" class="video">
            <span></span>
          <img src="/images/{{main.dt1[$index+2].imgpath}}" alt="Smiley face">
        </a>
        <div class="caption">
                               <h4>{{main.dt1[$index+2].piccaption}}</h4>
                           </div>
    </div></div>
  <div class="col-6 col-sm-3"><div class="videos">
<a ng-click="main.reloadRoute(main.dt1[$index+3])" href="/test/{{main.dt1[$index+3].vlink}}" class="video">
            <span></span>
            <img src="/images/{{main.dt1[$index+3].imgpath}}" alt="Smiley face">
        </a>
        <div class="caption">
                               <h4>{{main.dt1[$index+3].piccaption}}</h4>
                           </div>
    </div></div>

</div>

</div>
