<div class="page-header">
Registration Page
</div>
<form ng-submit="register.regUser(regData);">


  <label> Name </label>
  <input class="form-control" type="text" name="name" placeholder="Please Enter name" ng-model="register.regData.name">
  <br>

<label> Email </label>
<input class="form-control" type="text" name="email"  placeholder="Please Enter email" ng-model="register.regData.email">
<br>
<label> UserName </label>
<input class="form-control"  type="text" name="username" placeholder="Please Enter username" ng-model="register.regData.username">
<br>

<label> Password </label>
<input class="form-control" type="password" name="password"  placeholder="Please Enter password" ng-model="register.regData.password">
<br>
<button class="btn btn-primary" type="submit">Register</button>
</form>

<br>
<div class="jumbotron text-center" ng-show="register.loading">
<span class="glyphicon glyphicon-repeat spinner" ></span>
<p>Loading...</p>
</div>
<br>
<div class="row show-hide-message" ng-show="register.successMsg">
<div class="alert alert-success">{{ register.successMsg }}</div>
</div>
<div class="row show-hide-message" ng-show="register.errorMsg">
<div class="alert alert-danger">{{ register.errorMsg }}
</div>
</div>
